@model IList<ForumSystem.Models.AnswerViewModel>

<div class="post-form form-group">
    @{
        Html.RenderPartial("_PostAnswerPartial", new ForumSystem.Models.AnswerViewModel());
    }
</div>
@if (Model.Count > 0)
{
    <div id="question-section">
        <ul class="list-group">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li class="list-group-item question-box">
                    <div class="profile-answer-img">
                        @if (Model[i].User.Image == null)
                        {
                            <img src="~/fonts/no_user_photo.png" />
                        }
                        else
                        {
                            // TODO: Load a picture of current user.
                        }
                    </div>
                    <div class="answer-content">
                        <p>@Model[i].Content</p>
                    </div>
                    <div class="answer-info">
                        <div class="comments-section">
                            <!--Use data-* attributes from HTML5 to record additonal metadata - the better way.-->
                            <a class="all-comments @Model[i].AnswerId">@Model[i].Comments.Count Comments</a>
                            <a class="comment @(i + "commentNo") @Model[i].AnswerId">Say something</a>
                        </div>
                        <ul class="date-time answer-time">
                            <li class="day time">@Model[i].PostDate.Day<span>/</span></li>
                            <li class="month time">@Model[i].PostDate.Month<span>/</span></li>
                            <li class="year time">@Model[i].PostDate.Year <span>|</span></li>
                            <li class="hour time">@Model[i].PostDate.Hour<span>:</span></li>
                            <li class="minutes time">@Model[i].PostDate.Minute</li>
                        </ul>
                    </div>
                    <!--Use data-* attributes from HTML5 to record additonal metadata - the better way.-->
                    <div class="comment-form @(i + "commentNo")">
                        @Html.Partial("~/Views/Comment/_PostCommentPartial.cshtml", new ForumSystem.Models.CommentViewModel { AnswerId = Model[i].AnswerId })
                    </div>
                    <!--Use data-* attributes from HTML5 to record additonal metadata - the better way.-->
                    <div class="loaded-comments @Model[i].AnswerId">
                        <div id="@Model[i].AnswerId" class="new-added-comment @Model[i].AnswerId"> <!--Use data-* attributes from HTML5 to record additonal metadata - the better way.-->
                            <!--Newly added comment.-->
                        </div>
                        <!--Here are rendered all the comments for the answer.-->
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <h1 class="no-answers">There are no answers for this question!</h1>
}
