@model IList<ForumSystem.Models.AnswerViewModel>

<div class="post-form form-group">
    @{
        Html.RenderPartial("_PostAnswerPartial", new ForumSystem.Models.AnswerViewModel());
    }
</div>
@if (Model.Count > 0)
{
    <div id="question-section">
        <ul class="list-group">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li class="list-group-item question-box">
                    <div class="profile-answer-img">
                        @if (Model[i].User.Image == null)
                        {
                            <img src="~/fonts/no_user_photo.png" />
                        }
                        else
                        {
                            // TODO: Load a picture of current user.
                        }
                    </div>
                    <div class="answer-content">
                        <p>@Model[i].Content</p>
                    </div>
                    <div class="answer-info">
                        <div class="comments-section">
                            <a class="all-comments" href="#">@Model[i].Comments.Count Comments</a> <!--TODO: Load all comments. -->
                            <a class="comment">Say something</a> <!--TODO: Open a form for adding a new comment. -->
                        </div>
                        <ul class="date-time answer-time">
                            <li class="day time">@Model[i].PostDate.Day<span>/</span></li>
                            <li class="month time">@Model[i].PostDate.Month<span>/</span></li>
                            <li class="year time">@Model[i].PostDate.Year <span>|</span></li>
                            <li class="hour time">@Model[i].PostDate.Hour<span>:</span></li>
                            <li class="minutes time">@Model[i].PostDate.Minute</li>
                        </ul>
                    </div>
                    <div>
                        @Html.Partial("_PostCommentPartial", new ForumSystem.Models.CommentViewModel{ AnswerId = Model[i].AnswerId })
                    </div>
                    <div class="loaded-comments">
                        @foreach (var comment in Model[i].Comments)
                        {
                            <div class="single-comment-space">
                                @if (comment.User.Image == null)
                                {
                                    <img src="~/fonts/no_user_photo.png" />
                                }
                                else
                                {
                                    // TODO: Load a picture of current user.
                                }
                                <p>@comment.User.UserName</p>
                                <p>@comment.CommentContent</p>
                                <ul class="date-time answer-time">
                                    <li class="day time">@comment.PostDate.Day<span>/</span></li>
                                    <li class="month time">@comment.PostDate.Month<span>/</span></li>
                                    <li class="year time">@comment.PostDate.Year<span>|</span></li>
                                    <li class="hour time">@comment.PostDate.Hour<span>:</span></li>
                                    <li class="minutes time">@comment.PostDate.Minute</li>
                                </ul>
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <h1 class="no-answers">There are no answers for this question!</h1>
}
